body
{
	font-family: Open Sans;
}

#Demo
{
	margin-top: 7.5em;
	margin-left: 2em;
	position: absolute;
	background-color: white;
	border-style: solid;
	padding: 0.25em;
	color: black;
}

#exampvid
{
position: fixed;
	margin-left:13em;
}
#SocmedT
{
  float: right;
  margin-top: 8em;
  margin-right: -9em;
}

#SocmedB
{
	margin-top: 4em;
	float: right;
	margin-right: 2em;
}


#Topbar
{
	color: black;
	background-color: white;
	margin-top: 1em;
	margin-left: 3.5em;
	margin-right: 2em;
	word-spacing: 6rem;
	padding-left: 0.3em;
	padding-right: 1em;
border-style: solid;
	font-size: 3em;
	position: absolute;
	padding-top: -2em;
	border-width: 10px;
	
}

.logo
{
	width:15em;
	position:absolute;
	margin-left: 41em;
	margin-top: 3em;
}

nav
{
	
	
}





a:link
{
	color: black;
}
